<section class=" dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto">
        <div class="text-center ">
            <h2 class="text-4xl font-bold text-gray-100 md:text-5xl dark:text-white">¡Hola! Soy Andrés Betancur</h2>
            <p class="mt-4 text-2xl font-semibold text-gray-400 md:text-3xl dark:text-white">Un apasionado de el desarrollo web y la tecnologia.</p>

            <h1 class="mt-4 text-2xl font-semibold text-gray-400 md:text-3xl dark:text-white">Conoce lo que podremos crear juntos</h1>

            
        </div>

        <div class="flex flex-col md:flex-row items-center justify-center gap-12 mt-6 mb-14">
          <!-- Foto de perfil -->
          <div class="w-full md:w-2/5 flex justify-center">
            <div class="relative overflow-hidden w-[28rem] h-auto rounded-lg">
              <img
                src="../../../assets/PERFIL.png"
                alt="Imagen con zoom"
                class="object-cover w-full h-auto transition-transform duration-400 rounded-lg"
              />
            </div>
          </div>
          <!-- Iconos de programas -->
          <div class="w-full md:w-1/2 flex flex-col items-center">
            <p class="text-center text-2xl font-semibold text-gray-100 md:text-3xl dark:text-white mb-8">Herramientas que manejo</p>
            <div id="iconos_home" class="flex flex-wrap justify-center gap-10">
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-angular-96.png" alt="Autodesk Maya"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">Angular</span>
              </div>
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-js-96.png" alt="ZBrush"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">JavaScript</span>
              </div>
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-mecanografiado-96.png" alt="Blender"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">Typescript</span>
              </div>
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-viento-de-cola-css-96.png" alt="After effects"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">Tailwind CSS</span>
              </div>
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-nodejs-96.png" alt="Photoshop"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">Node js</span>
              </div>
              <div class="flex flex-col items-center">
                <img src="../../../assets/iconos/icons8-mysql-96.png" alt="Adobe Premiere"
                     class="h-16 w-16 object-contain mb-2 transition-transform duration-200 hover:scale-150 hover:shadow-lg" />
                <span class="text-white text-lg">Mysql</span>
              </div>
            </div>
          </div>
        </div>
            <div class="grid grid-cols-1 gap-12 mt-18 lg:grid-cols-3 sm:grid-cols-2 ">
             <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                <a href="https://outlook.live.com/mail/0/" target="_blank" rel="noopener noreferrer">
                    <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700 hover:bg-blue-200 transition">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                    </span>
                 </a>

                <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Escríbeme a mi correo personal. </h2>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Cuéntame más sobre ti o si tienes alguna consulta.</p>
                <p type="email" class="mt-2 text-sm text-blue-500 dark:text-blue-400">andresbetancur661&#64;gmail.com</p>
            </div>

            <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                <a href="https://www.google.com/maps/place/Suplementos+bucaramanga/@7.1079192,-73.1153598,21z/data=!4m6!3m5!1s0x8e683fc39d65f1bd:0xeb3ea3b43e2fb1d7!8m2!3d7.1079594!4d-73.1151591!16s%2Fg%2F11j8gcnkj3?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">
                <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                </span>
                </a>
                <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Conoce dónde estoy ubicado</h2>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Visítame</p>
                <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">Bucaramanga-Colombia</p>
            </div>

            <div class="p-4 rounded-lg bg-blue-50 md:p-6 dark:bg-gray-800">
                 <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">
                <span class="inline-block p-3 text-blue-500 rounded-lg bg-blue-100/80 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>
                </span>
                </a>
                <h2 class="mt-4 text-base font-medium text-gray-800 dark:text-white">Llámame o escríbeme</h2>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Lun-Vie desde las 8 am a 5 pm.</p>
                <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">+57 3143004868</p>
            </div>
        </div>
    </div>
</section>
