<div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4" id="proyectos">Proyectos</h1>
    <p class="text-xl text-gray-100 mb-8">Aquí puedes ver algunos de mis proyectos más destacados.</p>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura5.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">QuantumGamer - E-commerce Store</h5>
        
        <p class="mb-6 text-body">Tienda virtual orientada al sector gaming desarrollada con Angular. Implementa un catálogo dinámico de productos, sistema de navegación por rutas y una interfaz de usuario inmersiva.</p>
        <a href="https://quantumgamer.vercel.app/quantum/home" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/image (2).png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">GreenPoint - Plataforma de Conciencia Ecológica</h5>
        
        <p class="mb-6 text-body">Aplicación desarrollada con Angular orientada a la sostenibilidad ambiental. Permite a los usuarios localizar puntos de reciclaje y acceder a recursos educativos sobre el cuidado del medio ambiente.</p>
        <a href="https://site-ecoapp.netlify.app/home" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura Anim.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Animessence - E-commerce Store</h5>
        
        <p class="mb-6 text-body">Tienda virtual orientada al sector de la animacion 3D desarrollada con Angular. Implementa un catálogo de assets 3d, sistema de ofertas laborales y excelente diseño UX/UI</p>
        <a href="https://animessence-o2pn.vercel.app/home" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura shop.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Proyecto educativo Tienda Online.</h5>
        
        <p class="mb-6 text-body">Proyecto realizado con JavaScript puro y con el uso de una API local.</p>
        <a href="https://gallant-babbage-948d0e.netlify.app" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura2.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Proyecto educativo Clinica Veterinaria</h5>
        
        <p class="mb-6 text-body">Proyecto web desarrollado con React, demostrando el manejo de estados (hooks) y la creación de interfaces dinámicas.</p>
        <a href="https://pacientesveterinariaconreact.netlify.app" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura4.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Proyecto Angular consumo API externa .</h5>
        
        <p class="mb-6 text-body">Este sitio en particular es muy valioso para tu portafolio porque trabajar con APIs externas de contenido multimedia (como las de Anime o películas) es una prueba real de cómo manejarías datos en un entorno laboral</p>
        <a href="https://apijenkyangular.netlify.app" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/DOCTIME.png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Plataforma de Gestión de Salud</h5>
        
        <p class="mb-6 text-body">Proyecto colaborativo siendo una aplicación mucho más robusta y con un enfoque Full-Stack o de producto real.</p>
        <a href="https://doctime-frontend.vercel.app/doctime/home" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/image (1).png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Landing Page - Personal Trainer & CrossFit.</h5>
        
        <p class="mb-6 text-body">Sitio web de marca personal desarrollado para profesionales del fitness.</p>
        <a href="https://personaltrainer-crossfit.vercel.app/" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    
            <img class="rounded-base" src="../../../assets/projects/Captura de pantalla 2026-01-05 a la(s) 9.48.08 p.m..png" alt="" />
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Pixies Arg.</h5>
        
        <p class="mb-6 text-body">Proyecto colaborativo realizado con Angular y Java , donde nos enfocamos en el manejo y personalización de avatar.</p>
        <a href="https://jocular-kulfi-c35e92.netlify.app/#/" class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
             Ver mas...
            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
        </a>
    </div>
    

</div>
</div>
